<script src="../t@mplAte/assests/js/Rk_Validation.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="../t@mplAte/assests/js/inputvalidation.js"></script>
<script src="../t@mplAte/assests/js/Validation.js"></script>


<script src="../t@mplAte/assests/bower_components/popper.js/dist/umd/popper.min.js"></script>
<script src="../t@mplAte/assests/bower_components/moment/moment.js"></script>
<script src="../t@mplAte/assests/bower_components/chart.js/dist/Chart.min.js"></script>
<script src="../t@mplAte/assests/bower_components/select2/dist/js/select2.full.min.js"></script>
<script src="../t@mplAte/assests/bower_components/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
<script src="../t@mplAte/assests/bower_components/ckeditor/ckeditor.js"></script>
<script src="../t@mplAte/assests/bower_components/bootstrap-validator/dist/validator.min.js"></script>
<script src="../t@mplAte/assests/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<script src="../t@mplAte/assests/bower_components/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>

<script src="../t@mplAte/assests/bower_components/editable-table/mindmup-editabletable.js"></script>
<!-- <script src="../t@mplAte/assests/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../t@mplAte/assests/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script> -->
<script src="../t@mplAte/assests/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="../t@mplAte/assests/bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<script src="../t@mplAte/assests/bower_components/tether/dist/js/tether.min.js"></script>
<script src="../t@mplAte/assests/bower_components/slick-carousel/slick/slick.min.js"></script>
<script src="../t@mplAte/assests/bower_components/bootstrap/js/dist/util.js"></script>
<script src="../t@mplAte/assests/bower_components/bootstrap/js/dist/alert.js"></script>
<script src="../t@mplAte/assests/bower_components/bootstrap/js/dist/button.js"></script>
<script src="../t@mplAte/assests/bower_components/bootstrap/js/dist/carousel.js"></script>
<script src="../t@mplAte/assests/bower_components/bootstrap/js/dist/collapse.js"></script>

<script src="../t@mplAte/assests/bower_components/bootstrap/js/dist/modal.js"></script>
<script src="../t@mplAte/assests/bower_components/bootstrap/js/dist/tab.js"></script>
<script src="../t@mplAte/assests/bower_components/bootstrap/js/dist/tooltip.js"></script>
<script src="../t@mplAte/assests/bower_components/bootstrap/js/dist/popover.js"></script>
<script src="../t@mplAte/assests/js/demo_customizer4a76.js?version=4.3.0"></script>

<script src="../t@mplAte/assests/js/main4a76.js?version=4.3.0"></script>
<script src="//cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>

<div id="mini-popup-resolution"></div>
<style>
    .tb_button {
        padding: 1px;
        cursor: pointer;
        border-right: 1px solid #8b8b8b;
        border-left: 1px solid #FFF;
        border-bottom: 1px solid #fff;
    }

    .tb_button.hover {
        borer: 2px outset #def;
        background-color: #f8f8f8 !important;
    }

    .ws_toolbar {
        z-index: 100000
    }

    .ws_toolbar .ws_tb_btn {
        cursor: pointer;
        border: 1px solid #555;
        padding: 3px
    }

    .tb_highlight {
        background-color: yellow
    }

    .tb_hide {
        visibility: hidden
    }

    .ws_toolbar img {
        padding: 2px;
        margin: 0px
    }
</style>
<div id="automa-palette"></div>