<body class="menu-position-top full-screen with-content-panel" data-new-gr-c-s-check-loaded="14.1115.0"
    data-gr-ext-installed="" cz-shortcut-listen="true">

    <div class="all-wrapper solid-bg-all">
        <div class="layout-w embed-responsive">
            <!--------------------
                    START - Mobile Menu
                -------------------->
            <div id="ctl00_divMobileMenu" class="menu-mobile menu-activated-on-click color-scheme-dark">
                <div class="mm-logo-buttons-w">
                    <a class="mm-logo" href="#">
                        <img src="assests/img/logo2.png"><span>Chandrabhan Singh Akya E-Office</span></a>
                    <div class="mm-buttons">
                        <div class="content-panel-open">
                            <div class="os-icon os-icon-grid-circles"></div>
                        </div>
                        <div class="mobile-menu-trigger">
                            <div class="os-icon os-icon-hamburger-menu-1"></div>
                        </div>
                    </div>
                </div>
                <div class="menu-and-user">
                    <div class="logged-user-w">
                        <div class="avatar-w">
                            <img alt="" src="/Images/MLA.jpeg">
                        </div>
                        <div class="logged-user-info-w">
                            <div class="logged-user-name">
                                <span id="ctl00_lblMobileUserName"></span>
                            </div>

                        </div>
                    </div>
                    <ul class="main-menu">

                        <li id="ctl00_liMobileHMOffice" class="has-sub-menu"><a>
                                <div class="icon-w">
                                    <div class="os-icon os-icon-home"></div>
                                </div>
                                <span>HM Office</span>
                            </a>
                            <ul class="sub-menu">
                                <li id="ctl00_liMobileAddArjiDetail"><a href="AddArji.aspx">Add Arji</a></li>

                                <li id="ctl00_liMobileAddInvitation"><a href="AddInvitation.aspx">Add
                                        Invitation</a>
                                </li>
                                <li id="ctl00_liMobileViewInvitation"><a href="ViewInvitation.aspx">View
                                        Invitation</a></li>


                            </ul>
                        </li>
                        <li id="ctl00_liMobileContactDetail" class="has-sub-menu"><a>
                                <div class="icon-w">
                                    <div class="os-icon os-icon-phone-call"></div>
                                </div>
                                <span>Contact Detail</span>
                            </a>
                            <ul class="sub-menu">
                                <li id="ctl00_liMobileAddContactDetail"><a href="ContactDetail.aspx">Add Contact
                                        Detail</a></li>
                                <li id="ctl00_liMobileViewContactDetail"><a href="ViewContactDetail.aspx">View
                                        Contact Detail</a></li>
                            </ul>
                        </li>
                        <li id="ctl00_liMobileOfficeVisitors" class="has-sub-menu"><a>
                                <div class="icon-w">
                                    <div class="os-icon os-icon-signs-11"></div>
                                </div>
                                <span>Office Visitor</span>
                            </a>
                            <ul class="sub-menu">
                                <li id="ctl00_liMobileAddOfficeVisitor"><a href="MulakatiVisitMaster.aspx">Add
                                        Office Visitor</a></li>
                                <li id="ctl00_liMobileViewOfficeVisitor"><a href="MulakatiVisit.aspx">View
                                        Office
                                        Visitor</a></li>
                            </ul>
                        </li>
                        <li id="ctl00_liMobileAppointment" class="has-sub-menu"><a>
                                <div class="icon-w">
                                    <div class="os-icon os-icon-edit"></div>
                                </div>
                                <span>Appointment</span>
                            </a>
                            <ul class="sub-menu">
                                <li id="ctl00_liMobileAddAppointment"><a href="AddAppointment.aspx">Add
                                        Appointment</a></li>
                                <li id="ctl00_liMobileViewAppointment"><a href="ViewAppointment.aspx">View
                                        Appointment</a></li>
                            </ul>
                        </li>
                        <li id="ctl00_liMobileComplaint" class="has-sub-menu"><a>
                                <div class="icon-w">
                                    <div class="os-icon os-icon-edit"></div>
                                </div>
                                <span>Complaint</span>
                            </a>
                            <ul class="sub-menu">

                            </ul>
                        </li>
                        <li id="ctl00_liMobileOthers" class="has-sub-menu"><a>
                                <div class="icon-w">
                                    <div class="os-icon os-icon-refresh-ccw"></div>
                                </div>
                                <span>Others</span>
                            </a>
                            <ul class="sub-menu">
                                <li id="ctl00_liMobileDashboard"><a href="Dashboard.aspx">Dashboard</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!--------------------
                END - Mobile Menu
                -------------------->
            <!--------------------
                    START - Main Menu
                -------------------->
            <div id="ctl00_divMenu"
                class="color-scheme-light color-style-default menu-activated-on-hover menu-layout-compact menu-position-top menu-w selected-menu-color-light sub-menu-color-bright sub-menu-style-over menu-has-selected-link menu-with-image mb-0"
                style="background: white">
                <div class="logo-w">
                    <a class="logo" href="#">
                        <div class="logo-element"></div>
                        <div class="logo-label">
                            Chandrabhan Singh Akya E-Office -
                            <span id="ctl00_lblUserName2" class="ml-0" style="vertical-align: unset;"></span>
                        </div>
                    </a>
                </div>
                <div class="logged-user-w">
                    <div class="logged-user-i">
                        <div class="avatar-w">
                            <img alt="" src="/Images/MLA.jpeg">
                        </div>
                        <div class="logged-user-menu color-style-light">
                            <div class="logged-user-avatar-info">
                                <div class="avatar-w">
                                    <img alt="" src="/Images/MLA.jpeg">
                                </div>
                                <div class="logged-user-info-w">
                                    <div class="logged-user-name">
                                        <span id="ctl00_lblUserName"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="bg-icon"><i class="os-icon os-icon-wallet-loaded"></i></div>
                            <ul>
                                <li><a href="https://chandrabhansingh.com/ContactBook/Default.aspx"><i
                                            class="os-icon os-icon-signs-11"></i><span>Logout</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="main-menu desktop has-active">
                    <!-- <li id="ctl00_liHmOffice" class="has-sub-menu">
                        <a>
                            <div class="icon-w">
                                <div class="os-icon os-icon-home"></div>
                            </div>
                            <span>HM Office</span>
                        </a>
                        <div class="sub-menu-w">
                            <div class="sub-menu-header">HM Office</div>
                            <div class="sub-menu-icon"><i class="os-icon os-icon-layers"></i></div>
                            <div class="sub-menu-i">
                                <ul class="sub-menu">
                                    <li id="ctl00_liAddArjiDetail"><a href="AddArji.aspx">Add Arji</a></li>

                                    <li id="ctl00_liAddInvitation"><a href="AddInvitation.aspx">Add
                                            Invitation</a>
                                    </li>
                                    <li id="ctl00_liViewInvitation"><a href="ViewInvitation.aspx">View
                                            Invitation</a></li>


                                </ul>
                            </div>
                        </div>
                    </li>
                    <li id="ctl00_liContactDetail" class="has-sub-menu">
                        <a>
                            <div class="icon-w">
                                <div class="os-icon os-icon-phone-call"></div>
                            </div>
                            <span>Contact Detail</span>
                        </a>
                        <div class="sub-menu-w">
                            <div class="sub-menu-header">Contact Detail</div>
                            <div class="sub-menu-icon"><i class="os-icon os-icon-layers"></i></div>
                            <div class="sub-menu-i">
                                <ul class="sub-menu">
                                    <li id="ctl00_liAddContactDetail"><a href="ContactDetail.aspx">Add Contact
                                            Detail</a></li>
                                    <li id="ctl00_liViewContactDetail"><a href="ViewContactDetail.aspx">View
                                            Contact
                                            Detail</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li id="ctl00_liOfficeVisitor" class="has-sub-menu">
                        <a>
                            <div class="icon-w">
                                <div class="os-icon os-icon-signs-11"></div>
                            </div>
                            <span>Office Visitor</span>
                        </a>
                        <div class="sub-menu-w">
                            <div class="sub-menu-header">Office Visitor</div>
                            <div class="sub-menu-icon"><i class="os-icon os-icon-layers"></i></div>
                            <div class="sub-menu-i">
                                <ul class="sub-menu">
                                    <li id=""><a href="MulakatiVisitMaster.aspx">Add
                                            Office
                                            Visitor</a></li>
                                    <li id=""><a href="MulakatiVisit.aspx">View Office
                                            Visitor</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li id="ctl00_liAppointment" class="has-sub-menu">
                        <a>
                            <div class="icon-w">
                                <div class="os-icon os-icon-edit"></div>
                            </div>
                            <span>Appointment</span>
                        </a>
                        <div class="sub-menu-w">
                            <div class="sub-menu-header">Appointment</div>
                            <div class="sub-menu-icon"><i class="os-icon os-icon-layers"></i></div>
                            <div class="sub-menu-i">
                                <ul class="sub-menu">
                                    <li id="ctl00_liAddAppointment"><a href="AddAppointment.aspx">Add
                                            Appointment</a></li>
                                    <li id="ctl00_liViewAppointment"><a href="ViewAppointment.aspx">View
                                            Appointment</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li id="ctl00_liComplaint" class="has-sub-menu">
                        <a>
                            <div class="icon-w">
                                <div class="os-icon os-icon-edit"></div>
                            </div>
                            <span>Complaint</span>
                        </a>
                        <div class="sub-menu-w">
                            <div class="sub-menu-header">Complaint</div>
                            <div class="sub-menu-icon"><i class="os-icon os-icon-layers"></i></div>
                            <div class="sub-menu-i">
                                <ul class="sub-menu">
                                </ul>
                            </div>
                        </div>
                    </li>

                    <li id="ctl00_liOthers" class="has-sub-menu">
                        <a>
                            <div class="icon-w">
                                <div class="os-icon os-icon-refresh-ccw"></div>
                            </div>
                            <span>Others</span>
                        </a>
                        <div class="sub-menu-w">
                            <div class="sub-menu-header">Others</div>
                            <div class="sub-menu-icon"><i class="os-icon os-icon-layers"></i></div>
                            <div class="sub-menu-i">
                                <ul class="sub-menu">
                                    <li id="ctl00_liDashboard"><a href="Dashboard.aspx">Dashboard</a></li>







                                </ul>
                                <ul class="sub-menu">









                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="has-sub-menu" style="display: none"><a href="MulakatiVisitMaster.aspx">
                            <div class="icon-w">
                                <div class="os-icon os-icon-user"></div>
                            </div>
                            <span>Add Office Visitor</span>
                        </a>
                    </li>
                    <li class="has-sub-menu" style="display: none"><a href="MulakatiVisit.aspx">
                            <div class="icon-w">
                                <div class="os-icon os-icon-user"></div>
                            </div>
                            <span>View Office Visitor</span>
                        </a>
                    </li> -->



                </ul>
            </div>
            <!--------------------
                END - Main Menu
                -------------------->
            <div class="content-w">
                <!--------------------
                    START - Top Bar
                    -------------------->
                <div id="ctl00_divheader" class="top-bar color-scheme-light" style="display: none">
                    <div class="top-menu-controls">
                        <!--------------------
                                        START - User avatar and menu in secondary top menu
                                        -------------------->
                        <div class="logged-user-w">
                            <div class="logged-user-i">
                                <div class="avatar-w">
                                    <img alt="" src="/Images/MLA.jpeg">
                                </div>
                                <div class="logged-user-menu color-style-bright">
                                    <div class="logged-user-avatar-info">
                                        <div class="avatar-w">
                                            <img alt="" src="/Images/MLA.jpeg">
                                        </div>
                                        <div class="logged-user-info-w">
                                            <div class="logged-user-name">
                                                <span id="ctl00_Label1"></span>
                                            </div>
                                            <div class="logged-user-role">Administrator</div>
                                        </div>
                                    </div>
                                    <div class="bg-icon"><i class="os-icon os-icon-wallet-loaded"></i></div>
                                    <ul>
                                        <li><a href="Logout.aspx"><i
                                                    class="os-icon os-icon-signs-11"></i><span>Logout</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>